<!DOCTYPE html>
<html>
<head>
    <title>TicTacToe</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="Content/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="Content/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="Content/Style.css" rel="stylesheet" />
    <link href="Content/Animations.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="lobbyApp" ng-controller="lobbyCtrl">
        <div class="container-fluid">
            <main>
                <table id="lobby" class="table">
                    <tr>
                        <th>Game List</th>
                        <th>Stuff</th>
                    </tr>
                    <tr>
                        <td id="gamelist-container">
                            <select id="gamelist" name="gamelist" size="5" class="form-control">
                                <option ng-repeat="session in sessions" sessionid="{{session.SessionID}}">
                                    {{session.SessionName}}
                                </option>
                            </select>
                        </td>
                        <td style="width: 30%">
                            <table id="lobby-buttons">
                                <tr>
                                    <td>
                                        <button type="button" id="host-game" class="btn btn-default btn-lobby" data-toggle="modal" data-target="#host-modal">Host Game</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="button" id="join-game" class="btn btn-default btn-lobby" value="Join Game">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <div id="game" class="hidden">
                    <div id="game-menu">
                        <button id="leave-game" class="game-button">Leave Game</button>
                    </div>
                    <div id="game-over-message"></div>
                    <div id="progressbars">
                        <div id="progressbar1" class="progressbar"></div>
                        <div id="progressbar2" class="progressbar"></div>
                    </div>
                    <table id="grid"></table>
                    <div id="markers"></div>
                </div>
            </main>
        </div>

        <div id="host-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Host Game</h4>
                    </div>
                    <div class="modal-body">
                        <table class="form-group">
                            <tr>
                                <td>
                                    <label for="session-name">Session name</label>
                                    <input type="text" id="session-name" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label id="board-size-label" for="board-size">Board size: {{boardSize}}</label>
                                    <input type="range" id="board-size" min="3" max="10" value="3" ng-model="boardSize" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label id="win-condition-label" for="win-condition">Row length to win: {{winCondition}}</label>
                                    <input type="range" id="win-condition" min="3" max="10" value="3" ng-model="winCondition" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label id="timer-label" for="timer">Timer: {{timer}}</label>
                                    <input type="range" id="timer" min="2" max="30" value="3" ng-model="timer" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="new-game" class="btn btn-default" data-dismiss="modal">Create session</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/jqueryui/jquery-ui.min.js"></script>
    <script src="Scripts/jqueryui/touch-fix.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/angular/angular.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/Initialize.js"></script>
    <script src="Scripts/Game.js"></script>
    <script src="Scripts/Lobby.js"></script>
</body>
</html>
