body {
}

#grid {
    width: 20vw;
    height: 20vw;
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.node {
    border: 1px solid black;

    text-align: center;

    color: green;
    font-size: 24px;
}