html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

th {
    padding: 0;
    margin: 0;
    height: 10px;
}

input {
    margin: 0 0 10px 0;
}
.container-fluid {
    padding: 0;
}

/* LOBBY STUFF */

#lobby, #game {
    position: absolute;
    top: 10px;
}

#lobby {
    width: 60vw;
    height: 70vh;
    left: calc(50vw - 30vw);

}

#gamelist {
    display: block;
    background: white;
    width: 100%;
    height: 100%;
    line-height: 200px;
    margin: 0 auto;
}

#lobby-buttons {
    width: 100%;
}

.btn-lobby {
    display: inline-block;
    width: 100%;
    clear: left;
    padding: 10px 10px;
    margin: 0 0 10px 0;
}

/* END LOBBY STUFF */

/* GAME STUFF */

#game {
    width: 80vh;
    height: 80vh;
    left: calc(50vw - 40vh);
    margin-bottom: 20px;
}

#grid {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.progressbar {
    width: 37vh;
    margin-bottom: 20px;
}

#progressbar1 {
    float: left;
}

#progressbar2 {
    float: right;
}

#host-modal .modal-content {
    width: 400px;
    margin: 0 auto;
}

.node {
    border: 1px solid black;
    text-align: center;
    color: green;
    font-size: 24px;
}

#game-menu {
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
}

.game-button {
}

/* END GAME STUFF */

.hidden {
    display: none;
}

@media (max-width: 990px) {

    /* LOBBY STUFF */

    #lobby {
        width: 80vw;
    }

    /* END LOBBY STUFF*/

    /* GAME STUFF */

    #game {
        width: 60vw;
        height: 60vw;
        left: calc(50vw - 30vw);
    }

    .progressbar {
        width: 28vw;
    }

    /* END GAME STUFF */
}

@media (max-width: 769px) {

    /* LOBBY STUFF */

    #lobby {
        width: 100vw;
    }

    /* END LOBBY STUFF*/

    /* GAME STUFF */

    #game {
        width: 80vw;
        height: 80vw;
        left: calc(50vw - 40vw);
    }

    .progressbar {
        width: 38vw;
    }

    /* END GAME STUFF */
}
