html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

th {
    padding: 0;
    margin: 0;
    height: 10px;
}

input {
    margin: 0 0 10px 0;
}
.container-fluid {
    padding: 0;
}
#lobby, #game {
    position: absolute;
    top: 10px;
}

#lobby {
    width: 60vw;
    height: 70vh;
    left: calc(50vw - 30vw);

}

#gamelist {
    display: block;
    background: white;
    width: 100%;
    height: 100%;
    line-height: 200px;
    margin: 0 auto;
}

#game {
    width: 60vw;
    left: calc(50vw - 30vw);
}

#grid {
    width: 40vw;
    height: 40vw;
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

#host-modal .modal-content {
    width: 400px;
    margin: 0 auto;
}

.node {
    border: 1px solid black;
    text-align: center;
    color: green;
    font-size: 24px;
}

#lobby-buttons {
    width: 100%;
}

.btn-lobby {
    display: inline-block;
    width: 100%;
    clear: left;
    padding: 10px 10px;
    margin: 0 0 10px 0;
}

.hidden {
    display: none;
}

@media (max-width: 990px) {
    #lobby {
        width: 80vw;
    }
}

@media (max-width: 769px) {
    #lobby {
        width: 100vw;
    }
}
